<div class="text-right">
  {%- if site.instagram_username -%}<a href="https://instagram.com/{{ site.instagram_username| escape }}"><i class="fab fa-instagram"></i></a>{%- endif -%}
  {%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fab fa-github"></i></a>{%- endif -%}
  {%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fab fa-linkedin-in"></i></a>{%- endif -%}
  {%- if site.twitter_username -%}<a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fab fa-twitter"></i></a>{%- endif -%}
  {%- if site.medium_username -%}<a href="https://medium.com/@{{ site.medium_username| cgi_escape | escape }}"><i class="fab fa-medium-m"></i></a>{%- endif -%}
  {%- if site.stackoverflow_username -%}<a href="https://stackoverflow.com/users/9386067/{{ site.stackoverflow_username| cgi_escape | escape }}"><i class="fab fa-stack-overflow"></i></a>{%- endif -%}
</div>
