<div class="text-right">
  {%- if site.dribbble_username -%}<a href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}"><i class="fab fa-dribbble"></i></a>{%- endif -%}
  {%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fab fa-github"></i></a>{%- endif -%}
  {%- if site.instagram_username -%}<a href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><i class="fab fa-instagram"></i></a>{%- endif -%}
  {%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fab fa-linkedin-in"></i></a>{%- endif -%}
  {%- if site.twitter_username -%}<a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fab fa-twitter"></i></a>{%- endif -%}
  {%- if site.youtube_username -%}<a href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><i class="fab fa-youtube"></i></a>{%- endif -%}
  {%- if site.googleplus_username -%}<a href="https://plus.google.com/{{ site.googleplus_username| escape }}"><i class="fab fa-google-plus-g"></i></a>{%- endif -%}
</div>
