<ul class="timeline">

  <!-- Item 1 -->
  <li>
    <div class="direction-r" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Industry Mentor</span>
        <span class="time-wrapper">
            <span class="time"><a href="https://www.rmit.edu.au/">RMIT</a></span>
        </span>
      </div>
      <div class="desc">
        <i>March 2019 - Present</i><br><br>
        Providing one-on-one guidance to freshmen and discussing structured strategies to help get their career successfully underway
      </div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Software Engineer</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://www.newscorpaustralia.com/">News Corp</a></span>
        </span>
      </div>
      <div class="desc">
        <i>Feb 2019 - Present</i><br><br>
        Working with the DCS team to maintain current services and optimize the delivery of dynamic content served across all News Corp online media sites
      </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Developer Evangelist</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://www.messagemedia.com/au/">MessageMedia</a></span>
        </span>
      </div>
      <div class="desc">
        <i>Feb 2018 - Present</i><br><br>
        Attended over 25 tech events and wrote over 30 pieces of content in a single calendar year. Worked with the product and tech
        team to improve the overall developer experience of the company's products
      </div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-l" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Graduated</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://www.rmit.edu.au/">RMIT</a></span>
        </span>
      </div>
      <div class="desc">
        <i>Nov 2017</i><br><br>
        As a Bachelor of Computer Science with distinction
      </div>
    </div>
  </li>

  <!-- Item 5 -->
  <li>
    <div class="direction-r" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Back-end Developer</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://ohmpower.com.au/">OhmPower</a></span>
        </span>
      </div>
      <div class="desc">
        <i>Jun 2017 - Nov 2017</i><br><br>
        Worked as a part-time intern (while studying) with other developers to create web reporting services to meet business needs & was responsible for development of the payment gateway
      </div>
    </div>
  </li>

  <!-- Item 6 -->
  <li>
    <div class="direction-l" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Mentor</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://www.rmit.edu.au/">RMIT</a></span>
        </span>
      </div>
      <div class="desc">
        <i>Jun 2016 - Oct 2016</i><br><br>
        Served as a consistent mentor for students teaching web programming & advanced programming techniques throughout the course of 8-12 weeks in group mentoring or one-to-one planned activities
      </div>
    </div>
  </li>

  <!-- Item 7 -->
  <li>
    <div class="direction-r" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Private Tutor</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://www.rmit.edu.au/">RMIT</a></span>
        </span>
      </div>
      <div class="desc">
        <i>Mar 2016 - Sep 2016</i><br><br>
        Managed several tutoring sessions and carried out duties such as data entry, organizing paperwork, and distributing and maintaining tutoring curriculum
      </div>
    </div>
  </li>

  <!-- Item 8 -->
  <li>
    <div class="direction-l" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Born</span>
        <span class="time-wrapper">
          <span class="time"><a href="https://www.google.com/earth/">Planet Earth</a></span> 
        </span>
      </div>
      <div class="desc">
        <i>Sept 1995</i><br><br>
        To capitalize on an as-yet nascent market for cat photos
      </div>
    </div>
  </li>
</ul>
