<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-r" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Developer Evangelist</span>
        <span class="time-wrapper"><span class="time">MessageMedia</span></span>
      </div>
      <div class="desc">
        <i>Feb 2018 - Present</i><br><br>
        Attended over 20 conferences and other events in a single calendar year and worked with the product and tech
        team to improve the overall developer experience of the company's products
      </div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Graduated</span>
        <span class="time-wrapper"><span class="time">RMIT</span></span>
      </div>
      <div class="desc">
        <i>Nov 2017</i><br><br>
        As a Bachelor of Computer Science with magna cum laude
      </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Back-end Developer</span>
        <span class="time-wrapper"><span class="time">OhmPower</span></span>
      </div>
      <div class="desc">
        <i>Jun 2017 - Nov 2017</i><br><br>
        Worked with other developers to create web reporting services to meet business needs & was responsible for development of the payment gateway
      </div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-l" data-aos="fade-right">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Mentor</span>
        <span class="time-wrapper"><span class="time">RMIT</span></span>
      </div>
      <div class="desc">
        <i>Jun 2016 - Oct 2016</i><br><br>
        Served as a consistent mentor for students throughout the course of 8-12 weeks in group mentoring or one-to-one planned activities
      </div>
    </div>
  </li>

  <!-- Item 5 -->
  <li>
    <div class="direction-r" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Private Tutor</span>
        <span class="time-wrapper"><span class="time">RMIT</span></span>
      </div>
      <div class="desc">
        <i>Mar 2016 - Sep 2016</i><br><br>
        Managed several tutoring sessions and carried out duties such as data entry, organizing paperwork, and distributing and maintaining tutoring curriculum
      </div>
    </div>
  </li>

  <!-- Item 6 -->
  <li>
    <div class="direction-l" data-aos="fade-left">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Born</span>
        <span class="time-wrapper"><span class="time">Planet Earth</span></span>
      </div>
      <div class="desc">
        <i>Sept 1995</i><br><br>
        To capitalize on an as-yet nascent market for cat photos
      </div>
    </div>
  </li>
</ul>
