---
layout: default
---

<div id="particles-js">
  <section class="home">
      <div class="row h-100">
          <div class="col-sm-12 col-lg-6 align-self-center">
                  <div class="ui fluid card landing-avatar">
                      <div class="ui slide masked reveal image">
                        <img src={{ "/assets/images/profile.jpg" | relative_url }}  class="visible content">
                        <img src={{ "/assets/images/profile_2.jpg" | relative_url }}  class="hidden content">
                      </div>
                      <div class="image">
                      </div>
                      <div class="content center aligned">
                          <a class="header" href="#">Ibrahim Tareq</a>
                          <div class="meta">
                            <a>Developer Evangelist</a>
                          </div>
                          <div class="description">
                              console.log("🐈")
                          </div>
                      </div>
                      <div class="extra content center aligned">
                          <a>
                            <i class="meh icon"></i>
                            0 Friend
                          </a>
                      </div>
                  </div>
          </div>
          <div class="col-sm-12 col-lg-6 landing-title align-self-center">
              <h1>
                  Coder. <br>
                  Maker. <br>
                  Explorer. <br>
              </h1>
          </div>
      </div>
  </section>
</div>

<section class="about-me">
  <p>Hello! My name is Ibrahim and I am a developer evangelist for <a href="https://www.messagemedia.com.au/">MessageMedia</a>. I am drawn towards beautiful code and a minimalist approach. I believe there is beauty in simplicity. My journey began in the Middle East and continued to South Asia
from where I decided to come to Australia. I have a background in Computer Science and continue to be inspired by my community here in Melbourne. I am a coder, an optimist, an explorer looking to take on the world one challenge at a time. </p>
</section>

<section class="work-history">
  <div class="text-center work-heading">
    <h2>Roles</h2>
    <p>“Protons give an atom its identity, electrons its personality.” <br>- Bill Bryson</p>
  </div>
  {%- include work.html -%}
</section>

<section id="skills">
  <div class="text-center work-heading">
    <h2>Experience</h2>
    <p>“Life without knowledge is death in disguise.” <br>- Talib Kweli</p>
  </div>
  <svg width="100%" height="700"></svg>
</section>
