---
layout: default
---

<div class="post-header text-center">
  <p class="post-title">{{ page.title | escape }}</p>
  <p class="post-date">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
  </p>
</div>

<div class="wrapper">
  <article class="post h-entry">

    <div class="post-image">
    </div>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
